.projects__grid {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  grid-gap: 2em;
  border-radius: 10px; /* Rounded corners */
  background-color: var(--clr-bg-alt); /* Background color */
  padding: 1em; /* Padding for better spacing */
}